.div {
    display: flex;
    gap: 24px;
}
.image {
    width: 292px;
    height: 320px;
    flex-shrink: 0;
    object-fit: cover; 
    align-items: flex-start;
    border-radius: 10px;
    background: url(<path-to-image>)
    lightgray -57.393px -4.801px / 195.679% 103.001% no-repeat;
}
.rightSide {
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.nameDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: var(--Main, #101828);
    
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; 
}

.priceDiv {
    display: flex;
    gap: 12px;
}
.ratingDiv {
    display: flex;
    gap: 16px;

    color: var(--Main, #101828);
}
.description {
    overflow: hidden;
    white-space: nowrap; 
    color: var(--Text, #475467);
    text-overflow: ellipsis;
    width: 460px;

}
.btn {
    display: flex;
    white-space: nowrap;
    width: 166px;
    padding: 16px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    text-decoration: none; 

    border-radius: 200px;
    border: 1px solid transparent;
    background: var(--Button, #E44848);

    color: var(--White, #FFF);

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.08px;
}
.btn:hover {
    background: var(--Button-Hover, #D84343);
}